<div class="container mt-5">
    <h4 class="mb-5">COLORS</h4>
    <div class="r1-color-container mb-3">
        <div class="r1-title-item r1-title-item-1">Lines, Borders, Text</div>
        <div class="r1-title-item r1-title-item-2">Text</div>
        <div class="r1-title-item r1-title-item-3">Main CTA</div>
    </div>
    <div class="r1-color-container mb-3">
        <div class="r1-border-item r1-border-item-1"></div>
        <div class="r1-border-item r1-border-item-2"></div>
        <div class="r1-border-item r1-border-item-3"></div>
    </div>
    <div class="r1-color-container mb-3">
        <div class="r1-colorbox-item r1-colorbox-item-1">
            <div class="r1-colorbox-item-1-1"></div>
            <div class="r1-colorbox-item-1-2"></div>
            <div class="r1-colorbox-item-1-3"></div>
        </div>
        <div class="r1-colorbox-item r1-colorbox-item-2">
            <div class="r1-colorbox-item-2-1"></div>
            <div class="r1-colorbox-item-2-2"></div>
        </div>
        <div class="r1-colorbox-item r1-colorbox-item-3">            
            <div class="r1-colorbox-item-3-1"></div>
        </div>
    </div>
    <div class="r1-color-container">
        <div class="r1-hexa-item r1-hexa-item-1">
            <div class="r1-hexa-item-1-1">#F5F6FA</div>
            <div class="r1-hexa-item-1-2">#E6E9F4</div>
            <div class="r1-hexa-item-1-3">#D7DBEC</div>
        </div>
        <div class="r1-hexa-item r1-hexa-item-2">
            <div class="r1-hexa-item-2-1">#7E84A3</div>
            <div class="r1-hexa-item-2-2">#131523</div>
        </div>
        <div class="r1-hexa-item r1-hexa-item-3">            
            <div class="r1-hexa-item-3-1">#0058FF</div>
        </div>
    </div>
    <div class="r1-color-container mb-3">
        <div class="r1-rgb-item r1-rgb-item-1">
            <div class="r1-rgb-item-1-1">RGB(245, 246, 250)</div>
            <div class="r1-rgb-item-1-2">RGB(230, 233, 244)</div>
            <div class="r1-rgb-item-1-3">RGB(215, 219, 236)</div>
        </div>
        <div class="r1-rgb-item r1-rgb-item-2">
            <div class="r1-rgb-item-2-1">RGB(126, 132, 163)</div>
            <div class="r1-rgb-item-2-2">RGB(19, 21, 35)</div>
        </div>
        <div class="r1-rgb-item r1-rgb-item-3">            
            <div class="r1-rgb-item-3-1">RGB(0, 88, 255)</div>
        </div>
    </div>
    <!-- ROW 2 -->
    <div class="r2-color-container mb-3">
        <div class="r2-title-item r2-title-item-1">Notification</div>
        <div class="r2-title-item r2-title-item-2">Additional</div>
    </div>
    <div class="r2-color-container mb-3">
        <div class="r2-border-item r2-border-item-1"></div>
        <div class="r2-border-item r2-border-item-2"></div>
    </div>
    <div class="r2-color-container mb-3">
        <div class="r2-colorbox-item r2-colorbox-item-1">
            <div class="r2-colorbox-item-1-1"></div>
        </div>
        <div class="r2-colorbox-item r2-colorbox-item-2">
            <div class="r2-colorbox-item-2-1"></div>
            <div class="r2-colorbox-item-2-2"></div>
            <div class="r2-colorbox-item-2-3"></div>
            <div class="r2-colorbox-item-2-4"></div>
            <div class="r2-colorbox-item-2-5"></div>
        </div>
    </div>
    <div class="r2-color-container">
        <div class="r2-hexa-item r2-hexa-item-1">
            <div class="r2-hexa-item-1-1">#F0142F</div>
        </div>
        <div class="r2-hexa-item r2-hexa-item-2">
            <div class="r2-hexa-item-2-1">#57B8FF</div>
            <div class="r2-hexa-item-2-2">#FFC700</div>
            <div class="r2-hexa-item-2-3">#F99600</div>
            <div class="r2-hexa-item-2-4">#21D59B</div>
            <div class="r2-hexa-item-2-5">#D5D7E3</div>
        </div>
    </div>
    <div class="r2-color-container mb-3">
        <div class="r2-rgb-item r2-rgb-item-1">
            <div class="r2-rgb-item-1-1">RGB(240, 20, 47)</div>            
        </div>
        <div class="r2-rgb-item r2-rgb-item-2">
            <div class="r2-rgb-item-2-1">RGB(87, 184, 255)</div>
            <div class="r2-rgb-item-2-2">RGB(255, 199, 0)</div>
            <div class="r2-rgb-item-2-3">RGB(249, 150, 0)</div>
            <div class="r2-rgb-item-2-4">RGB(33, 213, 155)</div>
            <div class="r2-rgb-item-2-5">RGB(213, 215, 227)</div>
        </div>
    </div>
    <app-pagetwo></app-pagetwo>
</div>