<div class="Container">
    <hr>
    <div class="grid1">
        <div class="grid1-1">
            <div class="h5-regular">Avg. Order Value</div>
            <app-item-avgordervaluechart></app-item-avgordervaluechart>
        </div>
        <div class="grid1-1">
            <div class="h5-regular">Order Quantity</div>
            <app-item-orderquantitychart></app-item-orderquantitychart>
        </div>
        <div class="grid1-1">
            <div class="h5-regular">Unique Purchases</div>
            <app-item-uniquepurchaseschart></app-item-uniquepurchaseschart>
        </div>
    </div>
    <!-- <hr> -->
    <div class="grid2">
        <div class="grid2-1">
            <div class="h5-bold">Total Sales</div>
            <app-item-totalsaleschart></app-item-totalsaleschart>
        </div>
    </div>
    <!-- <hr> -->
    <div class="grid3">        
        <div class="grid3-1">
            <!-- <div class="h5-bold">Sales By Country</div> -->
            <div>
                <app-ch-el-salesbycountrychart></app-ch-el-salesbycountrychart>
            </div>
        </div>
        <div class="grid3-1">
            <div class="h5-bold">Visitors this year</div>
            <app-ch-el-yearvisitorschart></app-ch-el-yearvisitorschart>
        </div>
    </div>
    <div class="grid5">
        <div class="grid5-1">
            <div class="h5-bold">Sales Report</div>
            <app-ch-el-barchart></app-ch-el-barchart>
        </div>
        <div class="grid5-1">
            <div class="h5-bold">Sales Breakdown by Product</div>
            <app-ch-el-donutchart></app-ch-el-donutchart>
        </div>
    </div>
</div>