//ROW1
// .ROW1-flexbox-container {
//     display: flex;
//     justify-content: flex-start;
// }
// .ROW1-flexbox-row {
//     width: 7500px;
//     margin: 10px 3px 10px 3px;
// }
// .ROW1-flexbox-row-1 {
//     min-height: auto;
// }

//grid1
.grid1 {
    display: grid;
    // grid-template-columns: 5fr 3fr;
    grid-template-columns: 55% 45%;
    // grid-template-columns: repeat(2, 1fr 2fr); //=== grid-template-columns: 1fr 1fr 1fr 1fr;

    // column-gap: 1em;
    // row-gap: 1em;
    gap: 1em; //=== column-gap: 1em; & row-gap: 1em;

    grid-auto-rows: minmax(425px, auto); //height
}
.grid1 > div {
    background: #eee;
    padding: 1em;
}
.grid1 > div:nth-child(odd) {
    background: #ddd;
}