<div class="Container">
    <hr>
    <div class="grid1">
        <div>
            <h5>Avg. Order Value</h5>
        </div>
        <div>
            <h5>Order Quantity</h5>
        </div>
        <div>
            <h5>Unique Purchases</h5>
        </div>
    </div>
    <!-- <hr> -->
    <div class="grid2">
        <div>
            <h5>Total Sales</h5>
        </div>
    </div>
    <!-- <hr> -->
    <div class="grid3">
        <div>
            <h5>Sales By Country</h5>
        </div>
        <div>
            <h5>Visitors this year</h5>
        </div>
    </div>
    <div class="grid5">
        <div>
            <!-- <div class="ROW1-flexbox-container">
                <div class="ROW1-flexbox-row ROW1-flexbox-row-1">
                    <app-item-barchart></app-item-barchart>
                </div>
            </div> -->
            <app-item-barchart></app-item-barchart>
        </div>
        <div>
            <h5>Sales Breakdown by Product</h5>
            <!-- <app-item-piechart></app-item-piechart> -->
        </div>
    </div>
</div>