<div class="ROW1-flexbox-container">
    <div class="ROW1-flexbox-row ROW1-flexbox-row-1">ROW1-1</div>
    <div class="ROW1-flexbox-row ROW1-flexbox-row-2">ROW1-2</div>
    <div class="ROW1-flexbox-row ROW1-flexbox-row-3">ROW1-3</div>
</div>
<div class="ROW2-flexbox-container mt-1">
    <div class="ROW2-flexbox-row ROW2-flexbox-row-1">ROW2-1</div>
    <div class="ROW2-flexbox-row ROW2-flexbox-row-2">ROW2-2</div>
    <div class="ROW2-flexbox-row ROW2-flexbox-row-3">ROW2-3</div>
</div>
<div class="ROW20-flexbox-container mt-1">
    <div class="ROW20-flexbox-row ROW20-flexbox-row-1">ROW20-1</div>
    <div class="ROW20-flexbox-row ROW20-flexbox-row-2">ROW20-2</div>
    <div class="ROW20-flexbox-row ROW20-flexbox-row-3">ROW20-3</div>
</div>
<div class="ROW3-flexbox-container mt-1">
    <div class="ROW3-flexbox-row ROW3-flexbox-row-1">ROW3-1</div>
    <div class="ROW3-flexbox-row ROW3-flexbox-row-2">ROW3-2</div>
    <div class="ROW3-flexbox-row ROW3-flexbox-row-3">ROW3-3</div>
</div>
<div class="ROW4-flexbox-container mt-1">
    <div class="ROW4-flexbox-row ROW4-flexbox-row-1">ROW4-1</div>
    <div class="ROW4-flexbox-row ROW4-flexbox-row-2">ROW4-2</div>
    <div class="ROW4-flexbox-row ROW4-flexbox-row-3">ROW4-3</div>
</div>
<div class="ROW5-flexbox-container mt-1">
    <div class="ROW5-flexbox-row ROW5-flexbox-row-1">ROW5-1</div>
    <div class="ROW5-flexbox-row ROW5-flexbox-row-2">ROW5-2</div>
    <div class="ROW5-flexbox-row ROW5-flexbox-row-3">ROW5-3</div>
</div>
<div class="ROW6-flexbox-container mt-1">
    <div class="ROW6-flexbox-row ROW6-flexbox-row-1">ROW6-1</div>
    <div class="ROW6-flexbox-row ROW6-flexbox-row-2">ROW6-2</div>
    <div class="ROW6-flexbox-row ROW6-flexbox-row-3">ROW6-3</div>
</div>
<div class="ROW7-flexbox-container mt-1">
    <div class="ROW7-flexbox-row ROW7-flexbox-row-1">ROW7-1</div>
    <div class="ROW7-flexbox-row ROW7-flexbox-row-2">ROW7-2</div>
    <div class="ROW7-flexbox-row ROW7-flexbox-row-3">ROW7-3</div>
</div>
<div class="ROW8-flexbox-container mt-1">
    <div class="ROW8-flexbox-row ROW8-flexbox-row-1">ROW8-1</div>
    <div class="ROW8-flexbox-row ROW8-flexbox-row-2">ROW8-2</div>
    <div class="ROW8-flexbox-row ROW8-flexbox-row-3">ROW8-3</div>
</div>
<div class="ROW9-flexbox-container mt-1">
    <div class="ROW9-flexbox-row ROW9-flexbox-row-1">ROW9-1</div>
    <div class="ROW9-flexbox-row ROW9-flexbox-row-2">ROW9-2</div>
    <div class="ROW9-flexbox-row ROW9-flexbox-row-3">ROW9-3</div>
</div>
<div class="ROW10-flexbox-container mt-1">
    <div class="ROW10-flexbox-row ROW10-flexbox-row-1">ROW10-1 wrap on shrinking screen</div>
    <div class="ROW10-flexbox-row ROW10-flexbox-row-2">ROW10-2 wrap on shrinking screen</div>
    <div class="ROW10-flexbox-row ROW10-flexbox-row-3">ROW10-3 wrap on shrinking screen</div>
    <div class="ROW10-flexbox-row ROW10-flexbox-row-4">ROW10-4 wrap on shrinking screen</div>
</div>
<div class="ROW11-flexbox-container mt-1">
    <div class="ROW11-flexbox-row ROW11-flexbox-row-1">ROW11-1 wrap on shrinking screen</div>
    <div class="ROW11-flexbox-row ROW11-flexbox-row-2">ROW11-2 wrap on shrinking screen</div>
    <div class="ROW11-flexbox-row ROW11-flexbox-row-3">ROW11-3 wrap on shrinking screen</div>
    <div class="ROW11-flexbox-row ROW11-flexbox-row-4">ROW11-4 wrap on shrinking screen</div>
</div>
<div class="ROW12-flexbox-container mt-1">
    <div class="ROW12-flexbox-row ROW12-flexbox-row-1">ROW12-1 wrap on shrinking screen</div>
    <div class="ROW12-flexbox-row ROW12-flexbox-row-2">ROW12-2 wrap on shrinking screen</div>
    <div class="ROW12-flexbox-row ROW12-flexbox-row-3">ROW12-3 wrap on shrinking screen</div>
    <div class="ROW12-flexbox-row ROW12-flexbox-row-4">ROW12-4 wrap on shrinking screen</div>
</div>
<div class="ROW13-flexbox-container mt-1">
    <div class="ROW13-flexbox-row ROW13-flexbox-row-1">ROW13-1 wrap on shrinking screen</div>
    <div class="ROW13-flexbox-row ROW13-flexbox-row-2">ROW13-2 wrap on shrinking screen</div>
    <div class="ROW13-flexbox-row ROW13-flexbox-row-3">ROW13-3 wrap on shrinking screen</div>
    <div class="ROW13-flexbox-row ROW13-flexbox-row-4">ROW13-4 wrap on shrinking screen</div>
</div>
<div class="ROW14-flexbox-container mt-1">
    <div class="ROW14-flexbox-row ROW14-flexbox-row-1">ROW14-1 wrap on shrinking screen</div>
    <div class="ROW14-flexbox-row ROW14-flexbox-row-2">ROW14-2 wrap on shrinking screen</div>
    <div class="ROW14-flexbox-row ROW14-flexbox-row-3">ROW14-3 wrap on shrinking screen</div>
    <div class="ROW14-flexbox-row ROW14-flexbox-row-4">ROW14-4 wrap on shrinking screen</div>
</div>
<div class="ROW15-flexbox-container mt-1">
    <div class="ROW15-flexbox-row ROW15-flexbox-row-1">ROW15-1 wrap on shrinking screen</div>
    <div class="ROW15-flexbox-row ROW15-flexbox-row-2">ROW15-2 wrap on shrinking screen</div>
    <div class="ROW15-flexbox-row ROW15-flexbox-row-3">ROW15-3 wrap on shrinking screen</div>
    <div class="ROW15-flexbox-row ROW15-flexbox-row-4">ROW15-4 wrap on shrinking screen</div>
</div>
<div class="ROW16-flexbox-container mt-1">
    <div class="ROW16-flexbox-row ROW16-flexbox-row-1">ROW16-1 wrap on shrinking screen</div>
    <div class="ROW16-flexbox-row ROW16-flexbox-row-2">ROW16-2 wrap on shrinking screen</div>
    <div class="ROW16-flexbox-row ROW16-flexbox-row-3">ROW16-3 wrap on shrinking screen</div>
    <div class="ROW16-flexbox-row ROW16-flexbox-row-4">ROW16-4 wrap on shrinking screen</div>
</div>
<div class="ROW17-flexbox-container mt-1">
    <div class="ROW17-flexbox-row ROW17-flexbox-row-1">ROW17-1 wrap on shrinking screen</div>
    <div class="ROW17-flexbox-row ROW17-flexbox-row-2">ROW17-2 wrap on shrinking screen</div>
    <div class="ROW17-flexbox-row ROW17-flexbox-row-3">ROW17-3 wrap on shrinking screen</div>
    <div class="ROW17-flexbox-row ROW17-flexbox-row-4">ROW17-4 wrap on shrinking screen</div>
</div>
<div class="ROW18-flexbox-container mt-1">
    <div class="ROW18-flexbox-row ROW18-flexbox-row-1">ROW18-1 wrap on shrinking screen</div>
    <div class="ROW18-flexbox-row ROW18-flexbox-row-2">ROW18-2 wrap on shrinking screen</div>
    <div class="ROW18-flexbox-row ROW18-flexbox-row-3">ROW18-3 wrap on shrinking screen</div>
    <div class="ROW18-flexbox-row ROW18-flexbox-row-4">ROW18-4 wrap on shrinking screen</div>
</div>
<div class="ROW19-flexbox-container mt-1">
    <div class="ROW19-flexbox-row ROW19-flexbox-row-1">ROW19-1 wrap on shrinking screen</div>
    <div class="ROW19-flexbox-row ROW19-flexbox-row-2">ROW19-2 wrap on shrinking screen</div>
    <div class="ROW19-flexbox-row ROW19-flexbox-row-3">ROW19-3 wrap on shrinking screen</div>
    <div class="ROW19-flexbox-row ROW19-flexbox-row-4">ROW19-4 wrap on shrinking screen</div>
</div>
<div class="ROW21-flexbox-container mt-1">
    <div class="ROW21-flexbox-row ROW21-flexbox-row-1">ROW21-1 wrap on shrinking screen</div>
    <div class="ROW21-flexbox-row ROW21-flexbox-row-2">ROW21-2 wrap on shrinking screen</div>
    <div class="ROW21-flexbox-row ROW21-flexbox-row-3">ROW21-3 wrap on shrinking screen</div>
    <div class="ROW21-flexbox-row ROW21-flexbox-row-4">ROW21-4 wrap on shrinking screen</div>
</div>
<div class="ROW22-flexbox-container mt-1">
    <div class="ROW22-flexbox-row ROW22-flexbox-row-1">ROW22-1 wrap on shrinking screen</div>
    <div class="ROW22-flexbox-row ROW22-flexbox-row-2">ROW22-2 wrap on shrinking screen</div>
    <div class="ROW22-flexbox-row ROW22-flexbox-row-3">ROW22-3 wrap on shrinking screen</div>
    <div class="ROW22-flexbox-row ROW22-flexbox-row-4">ROW22-4 wrap on shrinking screen</div>
</div>
<div class="ROW23-flexbox-container mt-1">
    <div class="ROW23-flexbox-row ROW23-flexbox-row-1">ROW23-1 wrap on shrinking screen</div>
    <div class="ROW23-flexbox-row ROW23-flexbox-row-2">ROW23-2 wrap on shrinking screen</div>
    <div class="ROW23-flexbox-row ROW23-flexbox-row-3">ROW23-3 wrap on shrinking screen</div>
    <div class="ROW23-flexbox-row ROW23-flexbox-row-4">ROW23-4 wrap on shrinking screen</div>
</div>
<div class="ROW24-flexbox-container mt-1">
    <div class="ROW24-flexbox-row ROW24-flexbox-row-1">ROW24-1 wrap on shrinking screen</div>
    <div class="ROW24-flexbox-row ROW24-flexbox-row-2">ROW24-2 wrap on shrinking screen</div>
    <div class="ROW24-flexbox-row ROW24-flexbox-row-3">ROW24-3 wrap on shrinking screen</div>
    <div class="ROW24-flexbox-row ROW24-flexbox-row-4">ROW24-4 wrap on shrinking screen</div>
</div>
<div class="ROW25-flexbox-container mt-1">
    <div class="ROW25-flexbox-row ROW25-flexbox-row-1">ROW25-1 wrap on shrinking screen</div>
    <div class="ROW25-flexbox-row ROW25-flexbox-row-2">ROW25-2 wrap on shrinking screen</div>
    <div class="ROW25-flexbox-row ROW25-flexbox-row-3">ROW25-3 wrap on shrinking screen</div>
    <div class="ROW25-flexbox-row ROW25-flexbox-row-4">ROW25-4 wrap on shrinking screen</div>
</div>
<div class="ROW26-flexbox-container mt-1">
    <div class="ROW26-flexbox-row ROW26-flexbox-row-1">ROW26-1 shrinks</div>
    <div class="ROW26-flexbox-row ROW26-flexbox-row-2">ROW26-2 not shrinks</div>
    <div class="ROW26-flexbox-row ROW26-flexbox-row-3">ROW26-3 shrinks</div>
    <div class="ROW26-flexbox-row ROW26-flexbox-row-4">ROW26-4 shrinks</div>
</div>
<div class="ROW27-flexbox-container mt-1">
    <div class="ROW27-flexbox-row ROW27-flexbox-row-1">ROW27-1 not grow</div>
    <div class="ROW27-flexbox-row ROW27-flexbox-row-2">ROW27-2 grow</div>
    <div class="ROW27-flexbox-row ROW27-flexbox-row-3">ROW27-3 not grow</div>
    <div class="ROW27-flexbox-row ROW27-flexbox-row-4">ROW27-4 not grow</div>
</div>
<div class="ROW28-flexbox-container mt-1">
    <div class="ROW28-flexbox-row ROW28-flexbox-row-1">ROW28-1 not grow</div>
    <div class="ROW28-flexbox-row ROW28-flexbox-row-2">ROW28-2 grow</div>
    <div class="ROW28-flexbox-row ROW28-flexbox-row-3">ROW28-3 grow</div>
    <div class="ROW28-flexbox-row ROW28-flexbox-row-4">ROW28-4 not grow</div>
</div>
<div class="ROW29-flexbox-container mt-1">
    <div class="ROW29-flexbox-row ROW29-flexbox-row-1">ROW29-1 not grow</div>
    <div class="ROW29-flexbox-row ROW29-flexbox-row-2">ROW29-2 grow once</div>
    <div class="ROW29-flexbox-row ROW29-flexbox-row-3">ROW29-3 grow twice</div>
    <div class="ROW29-flexbox-row ROW29-flexbox-row-4">ROW29-4 not grow</div>
</div>
<div class="ROW30-flexbox-container mt-1">
    <div class="ROW30-flexbox-row ROW30-flexbox-row-1">ROW30-1 not grow</div>
    <div class="ROW30-flexbox-row ROW30-flexbox-row-2">ROW30-2 grow & size*1</div>
    <div class="ROW30-flexbox-row ROW30-flexbox-row-3">ROW30-3 grow & size*2</div>
    <div class="ROW30-flexbox-row ROW30-flexbox-row-4">ROW30-4 not grow</div>
</div>
<div class="ROW31-flexbox-container mt-1">
    <div class="ROW31-flexbox-row ROW31-flexbox-row-1">ROW31-1 not grow</div>
    <div class="ROW31-flexbox-row ROW31-flexbox-row-2">ROW31-2 grow & size*1 align-self: center</div>
    <div class="ROW31-flexbox-row ROW31-flexbox-row-3">ROW31-3 grow & size*2</div>
    <div class="ROW31-flexbox-row ROW31-flexbox-row-4">ROW31-4 not grow</div>
</div>
<div class="ROW32-flexbox-container mt-1">
    <div class="ROW32-flexbox-row ROW32-flexbox-row-1">ROW32-1 not grow align-self: flex-end</div>
    <div class="ROW32-flexbox-row ROW32-flexbox-row-2">ROW32-2 grow & size*1 align-self: center</div>
    <div class="ROW32-flexbox-row ROW32-flexbox-row-3">ROW32-3 grow & size*2</div>
    <div class="ROW32-flexbox-row ROW32-flexbox-row-4">ROW32-4 not grow</div>
</div>
<div class="ROW33-flexbox-container mt-1">
    <div class="ROW33-flexbox-row ROW33-flexbox-row-1">ROW33-1 not grow align-self: flex-end</div>
    <div class="ROW33-flexbox-row ROW33-flexbox-row-2">ROW33-2 grow & size*1 align-self: center</div>
    <div class="ROW33-flexbox-row ROW33-flexbox-row-3">ROW33-3 grow & size*2</div>
    <div class="ROW33-flexbox-row ROW33-flexbox-row-4">ROW33-4 not grow ALIGN-SELF: flex-start</div>
</div>
<div class="ROW34-flexbox-container mt-1">
    <div class="ROW34-flexbox-row ROW34-flexbox-row-1">ROW34-1 not grow align-self: flex-end</div>
    <div class="ROW34-flexbox-row ROW34-flexbox-row-2">ROW34-2 grow & size*1 self-align: center</div>
    <div class="ROW34-flexbox-row ROW34-flexbox-row-3">ROW34-3 grow & size*2 CHANGING THE ORDER OF ELEMENT USING ORDER PROPERTY IN FLEX</div>
    <div class="ROW34-flexbox-row ROW34-flexbox-row-4">ROW34-4 not grow align-self: flex-start</div>
</div>
<div class="ROW35-flexbox-container mt-1">
    <div class="ROW35-flexbox-row ROW35-flexbox-row-1">ROW35-1 not grow align-self: flex-end FLEX: 1 0 0PX//1ST: FLEX-GROW, 2ND: FLEX-SHRINK, 3RD: FLEX-BASIS</div>
    <div class="ROW35-flexbox-row ROW35-flexbox-row-2">ROW35-2 grow & size*1 self-align: center</div>
    <div class="ROW35-flexbox-row ROW35-flexbox-row-3">ROW35-3 grow & size*2 changing the order of element using order property in flex</div>
    <div class="ROW35-flexbox-row ROW35-flexbox-row-4">ROW35-4 not grow align-self: flex-start</div>
</div>