<div class="container">
    <nav>Navbar</nav>
    <div *ngFor="let itm of sidebars" id="sidebar" style="padding: 10px 10px 0px 0px;">
        Sidebar
        <!-- <app-ui-el-sidebaractive [item]="itm.name"></app-ui-el-sidebaractive> -->
        <!-- <app-ui-el-sidebarplain [item]="itm.name"></app-ui-el-sidebarplain> -->
    </div>
    <div id="header">Overview</div>
    <div id="con_av_or_va">Avg. Order Value</div>
    <div id="con_or_qu">Order Quantity</div>
    <div id="con_un_pu">Unique Purchases</div>
    <div id="con_to_sa">Total Sales</div>
    <div id="con_sa_by_co">Sales By Country</div>
    <div id="con_vi_yr">Visitors This Year</div>
    <div id="con_sa_re">Sales Report</div>
    <div id="con_sa_by_pr">Sales Breakdown By Product</div>
    <footer>Footer</footer>
</div>