<div class="ROW12-1-flexbox-container">
    <div class="ROW12-1-flexbox-row ROW12-1-flexbox-row-1"><h4 >GRAPH BARS</h4></div>
    <div class="ROW12-1-flexbox-row ROW12-1-flexbox-row-2">
        <div class="ROW12-3-flexbox-container">
            <div class="ROW12-3-flexbox-row ROW12-3-flexbox-row-1">
                <div class="ROW12-4-flexbox-container ">
                    <div class="ROW12-4-flexbox-row ROW12-4-flexbox-row-1"></div>
                    <div class="ROW12-4-1-flexbox-row ROW12-4-flexbox-row-2">Jan</div>
                </div>
            </div>
            <div class="ROW12-3-flexbox-row ROW12-3-flexbox-row-2">
                <div class="ROW12-4-flexbox-container ">
                    <div class="ROW12-3-flexbox-container ">
                        <div class="ROW12-4-flexbox-row ROW12-4-flexbox-row-2-1"></div>
                        <div class="ROW12-4-flexbox-row ROW12-4-flexbox-row-2-2"></div>                                
                    </div>   
                    <div class="ROW12-4-1-flexbox-row ROW12-4-flexbox-row-2" style="text-align: center;">Jan20</div>                         
                </div>
            </div>
            <div class="ROW12-3-flexbox-row ROW12-3-flexbox-row-3">
                <div class="ROW12-4-flexbox-container">
                    <div class="ROW12-3-flexbox-container ">
                        <!-- <div class="ROW12-4-flexbox-row ROW12-4-flexbox-row-2-1"></div> -->
                        <div class="ROW12-5-flexbox-container">
                            <div class="ROW12-5-flexbox-row ROW12-5-flexbox-row-1"></div>
                            <div class="ROW12-5-flexbox-row ROW12-5-flexbox-row-2"></div>
                            <div class="ROW12-5-flexbox-row ROW12-5-flexbox-row-3"></div>
                        </div>
                    </div>   
                    <div class="ROW12-4-1-flexbox-row ROW12-4-flexbox-row-2">Jan</div>                         
                </div>
            </div>
        </div>
    </div>         
</div> 