<div class="grid2">
    <div class="grid1-0-1" >
        <p class="grid1-1 mb-0">7650</p>
        <p style="margin-bottom: 0px;">
            <span class="grid1-2-1">1.2%</span>
            <svg style="fill: red; width: 16px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M176 32h96c13.3 0 24 10.7 24 24v200h103.8c21.4 0 32.1 25.8 17 41L241 473c-9.4 9.4-24.6 9.4-34 0L31.3 297c-15.1-15.1-4.4-41 17-41H152V56c0-13.3 10.7-24 24-24z"/></svg>
            <span class="grid1-2-3">  than last year </span>
        </p>
    </div>
    <div class="grid1-0-1" >
        <app-ch-el-linegraph [width]="graphWidth" [height]="graphHeight" [data]="graphData" [color]="graphColor"></app-ch-el-linegraph>
    </div>    
</div>