#barChart {
    color: #9297b1;
}
//ROW12-6-1
.ROW12-6-1-flexbox-container {
    display: flex;   
}
.ROW12-6-1-flexbox-row {
    margin-right: 10px;
}
.ROW12-6-1-flexbox-row-1 {
}
.ROW12-6-1-flexbox-row-2 {
    margin-right: 40px;
}