#barChart {
    color: #9297b1;
}
//ROW12-6-1
.ROW12-6-1-flexbox-container {
    display: flex;   
}
.ROW12-6-1-flexbox-row {
    margin-right: 5px;
}
.ROW12-6-1-flexbox-row-1 {
}

#barChart {
    height: auto;
}

.space-btwn {
    margin: 20px;
}

.text1 {
    margin-top: auto; 
    margin-bottom: auto; 
    color: #7e84a3;
    font-size: 1rem;
}

.icon1 {
    width: 10px;   
    top: -0.05em; 
    position: relative;
}

@media (max-width: 768px) {
    .space-btwn {
        margin: 5px;
    }  
    .text1 {
        font-size: 0.7rem;
    }
    .icon1 {
        width: 8px;
        top: -0.3em; 
        position: relative;
    }
}
@media (min-width: 768px) {
    #barChart {
        height: 250px;
        // width: 50%;
    }    
}
@media (min-width: 991px) {
    #barChart {
        height: 350px;
    }
}
@media (min-width: 1199px) {
    #barChart {
        height: 400px;
    }
}
@media (min-width: 1399px) {
    #barChart {
        height: 450px;
    }
}

// @media (max-width: 767px) {
//     #barChart {
//         width: 38%;
//     }
// }