<div class="ROW12-1-flexbox-container">
    <div class="ROW12-1-flexbox-row ROW12-1-flexbox-row-1"><h4 >CARDS</h4></div>
    <div class="ROW12-1-flexbox-row ROW12-1-flexbox-row-2">
        <div class="ROW12-2-flexbox-row ROW12-2-flexbox-row-1-1">                        
            <div class="ROW12-0-flexbox-container mt-1">
                <div class="ROW12-0-flexbox-row ROW12-0-flexbox-row-1">
                    <div class="ROW12-2-flexbox-row-1-1-1 ROW12-2-title-tooltip">
                        Unique Purchases
                    </div>                                
                    <div class="ROW12-2-flexbox-container mt-1">
                        <div class="ROW12-2-flexbox-row-1-1-1">
                            <p class="ROW12-2-flexbox-row-1-1-0 mb-0">3,137</p>
                        </div>
                    </div>
                    <div class="ROW12-2-flexbox-container mt-1">
                        <div class="ROW12-2-flexbox-row-1-1-2">
                            <p class="ROW12-2-flexbox-row-1-1-2-0">2.3% 
                                <svg style="fill: #21d59b; width: 10px; position: relative; top: -0.15em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M19.716 184.485l19.626 19.626c4.753 4.753 12.484 4.675 17.14-.173L134 123.22V468c0 6.627 5.373 12 12 12h28c6.627 0 12-5.373 12-12V123.22l77.518 80.717c4.656 4.849 12.387 4.927 17.14.173l19.626-19.626c4.686-4.686 4.686-12.284 0-16.971L168.485 35.716c-4.686-4.686-12.284-4.686-16.971 0L19.716 167.515c-4.686 4.686-4.686 12.284 0 16.97z"/></svg>
                                <span class="ROW12-2-flexbox-row-1-1-2-1">  than last year </span>
                            </p>
                        </div>
                    </div>   
                </div>
                <div class="ROW12-0-flexbox-row ROW12-0-flexbox-row-2">
                    <p></p>
                    <img src="./../../../assets/graph/cardgraph.png" />
                </div>
            </div>                                             
        </div>
    </div>
    <div class="ROW12-1-flexbox-row ROW12-1-flexbox-row-2">
        <div class="ROW12-2-flexbox-row ROW12-2-flexbox-row-1-1">                        
            <div class="ROW12-0-flexbox-container mt-1">
                <div class="ROW12-0-flexbox-row ROW12-0-flexbox-row-1">
                    <div class="ROW12-2-flexbox-row-1-1-1 ROW12-2-title-tooltip">
                        Total Sessions
                    </div>                                
                    <div class="ROW12-2-flexbox-container mt-1">
                        <div class="ROW12-2-flexbox-row-1-1-1">
                            <p class="ROW12-2-flexbox-row-1-1-0 mb-0">14k</p>
                        </div>
                    </div>
                    <div class="ROW12-2-flexbox-container mt-1">
                        <div class="ROW12-2-flexbox-row-1-1-2">
                            <p class="ROW12-2-flexbox-row-1-1-2-0">2.3% 
                                <svg style="fill: #21d59b; width: 12px; position: relative; top: -0.15em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M19.716 184.485l19.626 19.626c4.753 4.753 12.484 4.675 17.14-.173L134 123.22V468c0 6.627 5.373 12 12 12h28c6.627 0 12-5.373 12-12V123.22l77.518 80.717c4.656 4.849 12.387 4.927 17.14.173l19.626-19.626c4.686-4.686 4.686-12.284 0-16.971L168.485 35.716c-4.686-4.686-12.284-4.686-16.971 0L19.716 167.515c-4.686 4.686-4.686 12.284 0 16.97z"/></svg>
                                <span class="ROW12-2-flexbox-row-1-1-2-1">  than last year </span>
                            </p>
                        </div>
                    </div>   
                </div>
                <div class="ROW12-0-flexbox-row ROW12-0-flexbox-row-2 mr-auto">
                    <img class="cardrefresh" src="./../../../assets/graph/cardrefresh.png" />
                </div>
            </div>                                             
        </div>
    </div>            
</div>