.keys {
    text-align: center;
}
.ROW12-6-1-flexbox-container {
    display: flex;
    justify-content: center;
}
.ROW12-6-1-flexbox-row {
    margin-right: 5px;
}
.ROW12-6-1-flexbox-row-1 {
}
.space-btwn {
    margin: 10px;
}
.icon1 {
    width: 10px;   
    top: -0.05em; 
    position: relative;
}
.text1 {
    margin-top: auto; 
    margin-bottom: auto; 
    color: #7e84a3;
    font-size: 1rem;
}