<div class="ROW1-flexbox-container">
    <div class="ROW1-flexbox-row ROW1-flexbox-row-2"><h4 >COLORS</h4></div>
</div>
<div class="ROW2-flexbox-container mt-1">
    <div class="ROW2-flexbox-row ROW2-flexbox-row-1">Lines, Borders, Texts</div>
    <div class="ROW2-flexbox-row ROW2-flexbox-row-2">Text</div>
    <div class="ROW2-flexbox-row ROW2-flexbox-row-3">Main CTA</div>
</div>
<div class="ROW3-flexbox-container mt-1">
    <div class="ROW3-flexbox-row ROW3-flexbox-row-1">
        <div class="ROW3-1-flexbox-row ROW3-1-flexbox-row-1"></div>
        <div class="ROW3-2-flexbox-row ROW3-2-flexbox-row-2">#F5F6FA</div>
        <div class="ROW3-3-flexbox-row ROW3-3-flexbox-row-3">RGB(245, 246, 250)</div>
    </div>
    <div class="ROW3-flexbox-row ROW3-flexbox-row-2">
        <div class="ROW3-1-flexbox-row ROW3-1-flexbox-row-2"></div>        
        <div class="ROW3-2-flexbox-row ROW3-2-flexbox-row-2">#E6E9F4</div>
        <div class="ROW3-3-flexbox-row ROW3-3-flexbox-row-3">RGB(230, 233, 244)</div>
    </div>
    <div class="ROW3-flexbox-row ROW3-flexbox-row-3">
        <div class="ROW3-1-flexbox-row ROW3-1-flexbox-row-3"></div>
        <div class="ROW3-2-flexbox-row ROW3-2-flexbox-row-2">#D7DBEC</div>
        <div class="ROW3-3-flexbox-row ROW3-3-flexbox-row-3">RGB(215, 219, 236)</div>
    </div>
    <div class="ROW3-flexbox-row ROW3-flexbox-row-4">
        <div class="ROW3-1-flexbox-row ROW3-1-flexbox-row-4"></div>
        <div class="ROW3-2-flexbox-row ROW3-2-flexbox-row-2">#7E84A3</div>
        <div class="ROW3-3-flexbox-row ROW3-3-flexbox-row-3">RGB(126, 132, 163)</div>
    </div>
    <div class="ROW3-flexbox-row ROW3-flexbox-row-5">
        <div class="ROW3-1-flexbox-row ROW3-1-flexbox-row-5"></div>
        <div class="ROW3-2-flexbox-row ROW3-2-flexbox-row-2">#131523</div>
        <div class="ROW3-3-flexbox-row ROW3-3-flexbox-row-3">RGB(19, 21, 35)</div>
    </div>
    <div class="ROW3-flexbox-row ROW3-flexbox-row-6">
        <div class="ROW3-1-flexbox-row ROW3-1-flexbox-row-6"></div>
        <div class="ROW3-2-flexbox-row ROW3-2-flexbox-row-2">#0058FF</div>
        <div class="ROW3-3-flexbox-row ROW3-3-flexbox-row-3">RGB(0, 88, 255)</div>
    </div>
</div>
<div class="ROW4-flexbox-container mt-1">
    <div class="ROW4-flexbox-row ROW4-flexbox-row-1">Notification</div>
    <div class="ROW4-flexbox-row ROW4-flexbox-row-2">Additional</div>
</div>
<div class="ROW5-flexbox-container mt-1">
    <div class="ROW5-flexbox-row ROW5-flexbox-row-1">
        <div class="ROW5-1-flexbox-row ROW5-1-flexbox-row-1"></div>
        <div class="ROW5-2-flexbox-row ROW5-2-flexbox-row-2">#F0142F</div>
        <div class="ROW5-3-flexbox-row ROW5-3-flexbox-row-3">RGB(240, 20, 47)</div>
    </div>
    <div class="ROW5-flexbox-row ROW5-flexbox-row-2">
        <div class="ROW5-1-flexbox-row ROW5-1-flexbox-row-2"></div>        
        <div class="ROW5-2-flexbox-row ROW5-2-flexbox-row-2">#57B8FF</div>
        <div class="ROW5-3-flexbox-row ROW5-3-flexbox-row-3">RGB(87, 184, 255)</div>
    </div>
    <div class="ROW5-flexbox-row ROW5-flexbox-row-3">
        <div class="ROW5-1-flexbox-row ROW5-1-flexbox-row-3"></div>
        <div class="ROW5-2-flexbox-row ROW5-2-flexbox-row-2">#FFC700</div>
        <div class="ROW5-3-flexbox-row ROW5-3-flexbox-row-3">RGB(255, 199, 0)</div>
    </div>
    <div class="ROW5-flexbox-row ROW5-flexbox-row-4">
        <div class="ROW5-1-flexbox-row ROW5-1-flexbox-row-4"></div>
        <div class="ROW5-2-flexbox-row ROW5-2-flexbox-row-2">#F99600</div>
        <div class="ROW5-3-flexbox-row ROW5-3-flexbox-row-3">RGB(249, 150, 0)</div>
    </div>
    <div class="ROW5-flexbox-row ROW5-flexbox-row-5">
        <div class="ROW5-1-flexbox-row ROW5-1-flexbox-row-5"></div>
        <div class="ROW5-2-flexbox-row ROW5-2-flexbox-row-2">#21D59B</div>
        <div class="ROW5-3-flexbox-row ROW5-3-flexbox-row-3">RGB(33, 213, 155)</div>
    </div>
    <div class="ROW5-flexbox-row ROW5-flexbox-row-6">
        <div class="ROW5-1-flexbox-row ROW5-1-flexbox-row-6"></div>
        <div class="ROW5-2-flexbox-row ROW5-2-flexbox-row-2">#D5D7E3</div>
        <div class="ROW5-3-flexbox-row ROW5-3-flexbox-row-3">RGB(213, 215, 227)</div>
    </div>
</div>