//nav
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
}
.nav > div {
    background: #eee;
    padding: 1em;
}
.nav > div:nth-child(odd) {
    background: #ddd;
}

//ul
.ul {
    display: grid;
    justify-items: right; 
    grid-template-columns: repeat(5, 1fr);
}
.ul > div {
    background: #eee;
    padding: 1em;
}
.ul > div:nth-child(odd) {
    background: #ddd;
}