<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container d-flex flex-column flex-md-row p-3">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Dashboard Library</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!-- <a class="nav-link" routerLink='/colors'routerLinkActive='active' >Color</a> -->
                <a class="nav-link" routerLink='/pagernd'routerLinkActive='active' >RND</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/pagefull'routerLinkActive='active' >PageFull</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink='/pagethree'routerLinkActive='active' >Page3:Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/pageone'routerLinkActive='active' >Page1:Color-Pagination</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/title-horizontalline'routerLinkActive='active' >Color1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/colorbox-text'routerLinkActive='active' >Color2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/pagetwo'routerLinkActive='active' >Page2:Cards-Tables</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink='/graph'routerLinkActive='active' >Graphs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/table'routerLinkActive='active' >Tables</a>
            </li> -->
        </ul>
    </div>
</nav>