<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container d-flex flex-column flex-md-row p-3">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Dashboard Library</a>
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink='/pagernd'routerLinkActive='active' >pageflex</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink='/pagegrid'routerLinkActive='active' >pagegrid</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink='/one-page'routerLinkActive='active' >OnePage</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink='/navrnd'routerLinkActive='active' >NavRnd</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink='/ui-design'routerLinkActive='active' >UiDesign</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink='/ui-inventory-page'routerLinkActive='active' >UI-Inventory</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink='/charts-page'routerLinkActive='active' >ChartsPage</a>
            </li>
        </ul>
    </div>
</nav>