<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container d-flex flex-column flex-md-row p-3">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Dashboard Library</a>
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink='/pagernd'routerLinkActive='active' >RND</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink='/one-page'routerLinkActive='active' >OnePage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/charts-page'routerLinkActive='active' >ChartsPage</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink='/graph'routerLinkActive='active' >Graphs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/table'routerLinkActive='active' >Tables</a>
            </li> -->
        </ul>
    </div>
</nav>