.texticon-tabs {
    height: 40px;
    color: #0058ff;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-radius: 4px;
}

.chevron-right {
    fill: #0058ff;
    width: 8px;
    margin-right: 5px;
    top: .125em;
    position: relative;
    margin-left: 5px;
}

p {
    margin: 0px;
    font-weight: 600;
}

// .plain-tabs {
//     height: 40px;
//     color: #0058ff;
//     display: flex;
//     align-items: center;
//     flex-direction: row;
//     justify-content: left;
//     width: 100%;
//     border-radius: 4px;
//     margin-left: auto; 
//     margin-right: auto;
// }

// p {
//     margin: 0px;
//     padding-left: 5px;
//     font-weight: 700;
// }

// .chevron-right {
//     margin-left: 5px;
//     fill: #0058ff;
//     width: 8px;
//     top: .125em;
//     position: relative;
// }