.texticon-tabs {
    height: 40px;
    color: #0058ff;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.chevron-right {
    fill: #0058ff;
    width: 8px;
    margin-right: 5px;
    top: .125em;
    position: relative;
    margin-left: 5px;
}

p {
    margin: 0px;
    font-weight: 700;
}