$margin_right: 5px;
$colorbox_height: 120px;
$hex_font_size: 25px;
$rgb_font_size: 15px;

h4 {
    margin-top: 50px;
    margin-bottom: 20px;
}
//BASE-PROPS-GOES-ABOVE

//ROW6
.ROW6-flexbox-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;    
    align-items: center;
    align-content: space-around;
}
.ROW6-flexbox-row {
    width: 200px;
    // margin: 10px;
    // border: 3px solid #333;
}
.ROW6-flexbox-row-2 {
    flex-grow: 1;
}
//ROW7
.ROW7-flexbox-container {
    display: flex;
}
.ROW7-flexbox-row {
    color: #000000;
    width: 200px;
}
.ROW7-flexbox-row-1 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW7-flexbox-row-2 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW7-flexbox-row-3 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW7-flexbox-row-4 {
    flex-grow: 1;
    flex-basis: 0;
}
//ROW7-1
.ROW7-1-flexbox-row-1-2{
    font-weight: 700;
}
.ROW7-2-flexbox-row-2-2{    
    font-weight: 600;
}
.ROW7-3-flexbox-row-3-2{
    font-weight: 500;
}
.ROW7-2-flexbox-row-4-2{    
    font-weight: 400;
}
.ROW7-2-flexbox-row {
    font-family: 'Poppins';
    font-size: 40px;
}