$grey_text: #7E84A3;

//grid1
.g1 {
    display: grid;
    background-color: #F4F7FC;
}
.g1 > div {
}
.g1 > div:nth-child(odd) {
}

.g1-r2 {
    margin-right: 0.7em;
}
//g1-r2-r1
.g1-r2-r1 {
    display: grid;
    gap: 1em;
    grid-template-columns: 49.4% 32.5% 15.7%;
    color: $grey_text;
}
.g1-r2-r1 > div {
    text-align: center;
}
.g1-r2-r1 > div:nth-child(odd) {
}
.g1-r2-r1-r2 {
    border: 1px solid #E3E5EC;
}
//g1-r2-r1
.g1-r2-r2 {
    margin-top: 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: 15.5% 83%;
    color: $grey_text;
}
.g1-r2-r2 > div {
    text-align: center;
}
.g1-r2-r2 > div:nth-child(odd) {
}
.g1-r2-r2-r2 {
    border: 1px solid $grey_text;
}
.g1-r2-r2-r3 {
    border: 1px solid #E3E5EC;
}
@media screen and (min-width: 400px) and (max-width: 991px) {
    .g1-r2-r1 {
        gap: 1em;
        grid-template-columns: 48.9% 32.5% 14.5%;
    }
    .g1-r2-r2 {
        gap: 1em;
        grid-template-columns: 15.1% 83%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1099px) {
    .g1-r2-r1 {
        gap: 0.72em;
    }
}
@media screen and (min-width: 1100px) and (max-width: 1199px) {
    .g1-r2-r1 {
        gap: 0.71em;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .g1-r2-r1 {
        gap: 0.85em;
    }
}

.g1-r3 {
    margin-right: 0.7em;
}
//g1-r3-r1
.g1-r3-r1 {
    display: grid;
    margin-top: 1em;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1em;
}
.g1-r3-r1 > div {
}
.g1-r3-r1 > div:nth-child(odd) {
}
@media screen and (min-width: 700px) and (max-width: 1099px) {
    .g1-r3-r1 {
        gap: 0.72em;
    }
}
@media screen and (min-width: 1100px) and (max-width: 1199px) {
    .g1-r3-r1 {
        gap: 0.71em;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .g1-r3-r1 {
        gap: 0.85em;
    }
}

.g1-r4 {
    margin-right: 0.7em;
}
//g1-r4-r1
.g1-r4-r1 {
    display: grid;
    margin-top: 1em;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1em;
    grid-auto-rows: minmax(auto auto);
}
.g1-r4-r1 > div {
}
.g1-r4-r1 > div:nth-child(odd) {
}

//g1-r5
.g1-r5 {
    margin-right: 0.7em;
}

.g1-r6 {
    margin-right: 0.7em;
}
//g1-r6-r1
.g1-r6-r1 {
    display: grid;
    margin-top: 1em;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
    grid-auto-rows: minmax(auto auto);
}
.g1-r6-r1 > div {
}
.g1-r6-r1 > div:nth-child(odd) {
}

.g1-r7 {
    margin-right: 0.7em;
}
//g1-r7-r1
.g1-r7-r1 {
    display: grid;
    margin: 1em 1em 1em 0em;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2em;
    grid-auto-rows: minmax(auto auto);
}
.g1-r7-r1 > div {
}
.g1-r7-r1 > div:nth-child(odd) {
}

.g1-r8 {
    margin-right: 0.7em;
}
//g1-r8-r1
.g1-r8-r1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;

    grid-auto-rows: minmax(100px, auto);    
}
.g1-r8-r1 > div {
}
.g1-r8-r1 > div:nth-child(odd) {
}
.g1-r8-r1-nest1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(20px, auto);
}
.g1-r8-r1-nest1 > div {
}
.g1-r8-r1-nest1-icon {
    padding: 0.5em 0.5em 0.5em 0;
    width: 2em;
    fill: #7e84a3;
}
.g1-r8-r1-nest2 {
    display: grid;
}
.g1-r8-r1-nest2 > div { 
}
.g1-r8-r1-nest2-icon {
    padding: 0.5em 0.5em 0.5em 0;
    width: 2em;
    fill: #7e84a3;
}
.g1-r8-r1-nest3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(20px, auto);
}
.g1-r8-r1-nest3 > div {
    
}

.g1-r9 {
    margin-right: 0.7em;
}
//g1-r9-r1
.g1-r9-r1 {
    display: grid;
    margin: 1em 1em 1em 0em;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2em;
    grid-auto-rows: minmax(auto auto);
}
.g1-r9-r1 > div {
}
.g1-r9-r1 > div:nth-child(odd) {
}

.g1-r10 {
    margin-right: 0.7em;
}
//grid1
.g1-r10-r1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em; 
    grid-auto-rows: minmax(50px, auto);  
}
.g1-r10-r1 > div {
}
.g1-r10-r1 > div:nth-child(odd) {
}
//g1-r10-r1-r1c1
.g1-r10-r1-r1c1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}
.g1-r10-r1-r1c1 > div {
    padding: 0.9em;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.g1-r10-r1-r1c1 > div:nth-child(odd) {
}
//g1-r10-r1-r1c1-r1
.g1-r10-r1-r1c1-r1 {
    display: grid;
}
.g1-r10-r1-r1c1-r1 > div {
}
.g1-r10-r1-r1c1-r1 > div:nth-child(odd) {
}
.g1-r10-r1-r1c1-r1c1 {
    font-weight: bold;
}
@media screen and (min-width: 400px) and (max-width: 991px) {
    .g1-r10-r1-r1c1-r1c1 {
        font-size: 0.8em;
    }
    .g1-r10-r1-r1c1 > div {
        padding: 0.5em;
    }
    p {
        font-size: 0.7em;
    }
}
//g1-r10-r1-r1c1-r2c1
.g1-r10-r1-r1c1-r2c1 {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
    grid-auto-rows: minmax(10px, auto);
    font-size: x-small;
}
.g1-r10-r1-r1c1-r2c1 > div {
}
.g1-r10-r1-r1c1-r2c1 > div:nth-child(odd) {
}

//g1-r10-r1-r1c2
.g1-r10-r1-r1c2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 5em;
}
.g1-r10-r1-r1c2 > div {
    padding: 1em 1em 1em 0em;
}
.g1-r10-r1-r1c2 > div:nth-child(odd) {
}
.avatar-placeholder {
    height: 42px;
    text-align: center;
    line-height: 32px;
    padding-top: 6px;
    width: 42px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    background-color: #57b8ff;
}
.searc-icon {
    margin-top: 15px;
    margin-right: 20px;
    width: 30px;
    fill: #7e84a3;
}
//g1-r10-r1-r1c3
.g1-r10-r1-r1c3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1em;
}
.g1-r10-r1-r1c3 > div {
    padding: 1em 0em 1em 0em;
}
.g1-r10-r1-r1c3 > div:nth-child(odd) {
}
//g1-r10-r1-r1c4
.g1-r10-r1-r1c4 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
.g1-r10-r1-r1c4 > div {
}
.g1-r10-r1-r1c4 > div:nth-child(odd) {
}
.g1-r10-r1-r1c4-nest1 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(10px, auto);
    gap: 0.3em;
}
.g1-r10-r1-r1c4-nest1 > div {
}
.page-link {
    min-width: auto;
    padding: 0em 0.3em 0em 0.3em;
}
.chevron-left {
    fill: #7e84a3;
    width: 8px;
    top: 0em;
    position: relative;
}
.chevron-right {
    fill: #7e84a3;
    width: 8px;
    top: 0em;
    position: relative;
}

//g1-r11
.g1-r11 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}
.g1-r11 > div {
}

//g1-r12
.g1-r12 {
    display: grid;
}
.g1-r12 > div {
    background: #eee;
    padding: 1em;
}
.g1-r12 > div:nth-child(odd) {
    background: #F4F7FC;
}