<div class="ROW13-1-flexbox-container">
    <div class="ROW13-1-flexbox-row ROW13-1-flexbox-row-1"><h4 >TABLES</h4></div>
    <div class="ROW13-1-flexbox-row ROW13-1-flexbox-row-2">
        <div class="ROW13-2-flexbox-container mt-1">
            <div class="ROW13-2-flexbox-row ROW13-2-flexbox-row-1">
                <div class="card" style="border-color: #fff;">
                    <div class="card-body" style="padding: 0px;">
                      <table class="table">
                        <thead style="background-color: #f5f6fa;">
                          <tr>
                            <th class="padding-left">CHANNELS</th>
                            <th class="padding-left">SESSIONS</th>
                            <th class="padding-left">BOUNCE RATE</th>
                            <th class="padding-left">TRAFFIC</th>
                            <th class="padding-left">SALES</th>
                          </tr>
                        </thead>                                                                
                        <tbody style="border-top: none; background-color: #7e84a30a;">
                          <tr>
                            <td class="padding-left">Direct</td>
                            <td class="padding-left">45,759</td>
                            <td class="padding-left">32.1%</td>
                            <td class="padding-left">3.5%</td>
                            <td class="padding-left">1765</td>
                          </tr>
                          <tr>
                            <td class="padding-left">Call In</td>
                            <td class="padding-left">89,298</td>
                            <td class="padding-left">49%</td>
                            <td class="padding-left">1.5%</td>
                            <td class="padding-left">1856</td>
                          </tr>
                          <tr>
                            <td class="padding-left">Paid search</td>
                            <td class="padding-left">62,767</td>
                            <td class="padding-left">9.3%</td>
                            <td class="padding-left">6.0%</td>
                            <td class="padding-left">1449</td>
                          </tr>
                          <tr>
                            <td class="padding-left">Organic search</td>
                            <td class="padding-left">123,879</td>
                            <td class="padding-left">45.9%</td>
                            <td class="padding-left">7.5%</td>
                            <td class="padding-left">1432</td>
                          </tr>
                          <tr>
                            <td class="padding-left">Email</td>
                            <td class="padding-left">92,179</td>
                            <td class="padding-left">48.2%</td>
                            <td class="padding-left">4.2%</td>
                            <td class="padding-left">2029</td>
                          </tr>
                          <tr>
                            <td class="padding-left">Referal</td>
                            <td class="padding-left">15,875</td>
                            <td class="padding-left">31.1%</td>
                            <td class="padding-left">3.2</td>
                            <td class="padding-left">1689</td>
                          </tr>
                          <tr>
                            <td class="padding-left">Proposal</td>
                            <td class="padding-left">92,179</td>
                            <td class="padding-left">48.2%</td>
                            <td class="padding-left">4.2%</td>
                            <td class="padding-left">2029</td>
                          </tr>
                        </tbody>
                      </table>                  
                    </div>
                  </div>
            </div>
            <div class="ROW13-2-flexbox-row ROW13-2-flexbox-row-2">
            </div>
        </div>
    </div>                       
</div>     