$margin_right: 5px;
$colorbox_height: 120px;
$hex_font_size: 25px;
$rgb_font_size: 15px;

h4 {
    margin-top: 50px;
    margin-bottom: 20px;
}

//ROW1
.ROW1-flexbox-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;    
    align-items: center;
    align-content: space-around;
}
.ROW1-flexbox-row {
    width: 200px;
    // margin: 10px;
    // border: 3px solid #333;
}
.ROW1-flexbox-row-2 {
    flex-grow: 1;
}
//ROW2
.ROW2-flexbox-container {
    display: flex;
}
.ROW2-flexbox-row {
    border-bottom: 2px solid #d5d7e3;

    text-align: center;
    font-size: 15px;
    // color: #7e84a3;
    color: #7e84a3;
}
.ROW2-flexbox-row-1 {
    flex-grow: 3;
    flex-basis: 0;
    margin-right: 10px;
}
.ROW2-flexbox-row-2 {
    flex-grow: 2;
    flex-basis: 0;
    margin-right: 10px; 
}
.ROW2-flexbox-row-3 {
    flex-grow: 1;
    flex-basis: 0;
}
//ROW3
.ROW3-flexbox-container {
    height: 200px;
    display: flex;
}
.ROW3-flexbox-row {
    text-align: center;
    font-size: 20px;
}
.ROW3-flexbox-row-1 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW3-flexbox-row-2 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW3-flexbox-row-3 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW3-flexbox-row-4 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW3-flexbox-row-5 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW3-flexbox-row-6 {
    flex-grow: 1;
    flex-basis: 0;
}
//ROW3-1
.ROW3-1-flexbox-row {
    height: $colorbox_height;
    border-radius: 4px;
}
.ROW3-1-flexbox-row-1 {
    margin-right: $margin_right;
    background-color: #f5f6fa;
}
.ROW3-2-flexbox-row-2 {
    font-size: $hex_font_size;
}
.ROW3-3-flexbox-row-3 {
    font-size: $rgb_font_size;
}
.ROW3-1-flexbox-row-2 {
    margin-right: $margin_right;
    background-color: #e6e9f4;
}
.ROW3-1-flexbox-row-3 {
    margin-right: $margin_right;
    background-color: #d7dbec;
}
.ROW3-1-flexbox-row-4 {
    margin-right: $margin_right;
    background-color: #7e84a3;
}
.ROW3-1-flexbox-row-5 {
    margin-right: $margin_right;
    background-color: #131523;
}
.ROW3-1-flexbox-row-6 {
    background-color: #0058ff;
}
//ROW3-2
.ROW3-2-flexbox-row {
    text-align: left;
}
//ROW3-2
.ROW3-3-flexbox-row {
    text-align: left;
}
//ROW4
.ROW4-flexbox-container {
    display: flex;
}
.ROW4-flexbox-row {
    border-bottom: 2px solid #d5d7e3;
    text-align: center;
    font-size: 15px;
    // color: #7e84a3;
    color: #7e84a3;
}
.ROW4-flexbox-row-1 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW4-flexbox-row-2 {
    flex-grow: 5;
    flex-basis: 0;
}
//ROW5
.ROW5-flexbox-container {
    display: flex;
}
.ROW5-flexbox-row {
    text-align: center;
    font-size: 20px;
}
.ROW5-flexbox-row-1 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW5-flexbox-row-2 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW5-flexbox-row-3 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW5-flexbox-row-4 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW5-flexbox-row-5 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW5-flexbox-row-6 {
    flex-grow: 1;
    flex-basis: 0;
}
//ROW5-1
.ROW5-1-flexbox-row {
    height: $colorbox_height;
    border-radius: 4px;
    color: #354052;
}
.ROW5-1-flexbox-row-1 {
    margin-right: $margin_right;
    background-color: #f0142f;
}
.ROW5-2-flexbox-row-2 {
    font-size: $hex_font_size;
}
.ROW5-3-flexbox-row-3 {
    font-size: $rgb_font_size;
}
.ROW5-1-flexbox-row-2 {
    margin-right: $margin_right;
    background-color: #57b8ff;
}
.ROW5-1-flexbox-row-3 {
    margin-right: $margin_right;
    background-color: #ffc700;
}
.ROW5-1-flexbox-row-4 {
    margin-right: $margin_right;
    background-color: #f99600;
}
.ROW5-1-flexbox-row-5 {
    margin-right: $margin_right;
    background-color: #21d59b;
}
.ROW5-1-flexbox-row-6 {
    background-color: #d5d7e3;
}
//ROW5-2
.ROW5-2-flexbox-row {
    text-align: left;
}
//ROW5-2
.ROW5-3-flexbox-row {
    text-align: left;
}
//ROW6
.ROW6-flexbox-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;    
    align-items: center;
    align-content: space-around;
}
.ROW6-flexbox-row {
    width: 200px;
    // margin: 10px;
    // border: 3px solid #333;
}
.ROW6-flexbox-row-2 {
    flex-grow: 1;
}
//ROW7
.ROW7-flexbox-container {
    display: flex;
}
.ROW7-flexbox-row {
    color: #000000;
    width: 200px;
}
.ROW7-flexbox-row-1 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW7-flexbox-row-2 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW7-flexbox-row-3 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW7-flexbox-row-4 {
    flex-grow: 1;
    flex-basis: 0;
}
//ROW7-1
.ROW7-1-flexbox-row-1-2{
    font-weight: 700;
}
.ROW7-2-flexbox-row-2-2{    
    font-weight: 600;
}
.ROW7-3-flexbox-row-3-2{
    font-weight: 500;
}
.ROW7-2-flexbox-row-4-2{    
    font-weight: 400;
}
.ROW7-2-flexbox-row {
    font-family: 'Poppins';
    font-size: 40px;
}
//ROW8
.ROW8-flexbox-container {
    display: flex;
}
.ROW8-flexbox-row {
    color: #000000;
    width: 200px;
}
.ROW8-flexbox-row-1 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW8-flexbox-row-2 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW8-flexbox-row-3 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW8-flexbox-row-4 {
    flex-grow: 1;
    flex-basis: 0;
}
//ROW9
.ROW9-flexbox-container {
    display: flex;
}
.ROW9-flexbox-row {
    color: #000000;
    width: 200px;
    padding-right: 70px;    
    flex-wrap: wrap;
}
.ROW9-flexbox-row-1 {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW9-flexbox-row-2 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW9-flexbox-row-1-1 {
    margin-top: 15px;
    margin-right: 20px;
    width: 30px;
    fill: #7e84a3;
}
.ROW9-flexbox-row-2-1 {
    // border: 1px solid #272727;
    text-align: center;
    height: 40px;
    flex: 0 0 20%; /* explanation below */
    margin-bottom: 15px;
    width: 200px;
}
//ROW9
.ROW9-flexbox-container {
    display: flex;    
    justify-content: flex-start; //this is the default value === left
}
.ROW9-flexbox-row-3 {
    flex-grow: 1;
    flex-basis: 0;
    width: 70px;
}
.ROW9-flexbox-row-3-1 {
    min-height: 50px;
}
.ROW9-flexbox-row-4 {
    flex-grow: 1;
    flex-basis: 0;
}
//ROW10
.ROW10-flexbox-container {
    display: flex;
}
.ROW10-flexbox-row {
    color: #000000;
    width: 200px;
}
.ROW10-flexbox-row-1 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW10-flexbox-row-2 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW10-flexbox-row-3 {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: $margin_right;
}
.ROW10-flexbox-row-4 {
    flex-grow: 1;
    flex-basis: 0;
}
//ROW11
.ROW11-flexbox-container {
    display: flex;
    justify-content: flex-start;
}
.ROW11-flexbox-row {
    width: 200px;    
}
.ROW11-flexbox-row-1 {
    margin-right: $margin_right;
    flex: 1;
}
.ROW11-flexbox-row-2 {
    margin-right: $margin_right;
    flex: 1;
}
.ROW11-flexbox-row-3 {
    margin-right: $margin_right;
    flex: 1;
}
.ROW11-flexbox-row-4 {
    flex: 1;
}
.ROW11-flexbox-row-1-1 {
    background-color: #ffffff;
    margin-right: $margin_right;
    flex: 1;
    border-radius: 0.25rem; //0.25rem 0.25rem 0.25rem 0.25rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.ROW11-flexbox-row-1-2 {
    flex: 1;
}
.ROW11-flexbox-row-1-1-1 {
    font-size: 12px;
    margin-left: 7px;
    font-weight: bold;
}
.ROW11-flexbox-row-1-1-2 {
    font-size: 12px;
    margin-left: 7px;
    color: #7e84a3;
}
.title-tooltip {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}
.ROW11-flexbox-container-2 {
    display: flex;
    justify-content: flex-start;
}
.ROW11-flexbox-row-2-1 {
    min-height: 50px;
}
.ROW11-flexbox-row-2-2 {
    margin-right: 200px;
}
.avatar-placeholder {
    height: 42px;
    text-align: center;
    line-height: 32px;
    padding-top: 4px;
    width: 42px;
    margin-right: $margin_right;
    border-radius: 50%;
    display: inline-block;
    background-color: #2e7d32!important;
}
.ROW11-flexbox-row-3-1 {
    flex: 1;
}
.my-avatar-placeholder {
    height: 42px;
    text-align: center;
    line-height: 32px;
    padding-top: 4px;
    width: 42px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    background-color: #57b8ff;
}
.ROW11-flexbox-row-3-2 {
    margin-right: 200px;
}
.chevron-left {
    fill: #7e84a3;
    width: 8px;
    margin-right: 5px;
    top: 0.335em;
    position: relative;
    margin-right: 15px;
}
.chevron-right {
    fill: #7e84a3;
    width: 8px;
    margin-right: 5px;
    top: 0.335em;
    position: relative;
    margin-left: 15px;
}
.page-link {
    z-index: 3;
    color: #7e84a3;
    border-color: #ffffff;
    border-radius: 4px;
}
//ROW12
.ROW12-flexbox-container {
    display: flex;
}
.ROW12-flexbox-row {
    width: 200px;
}
.ROW12-flexbox-row-1 {
    min-height: 50px;
    flex-grow: 2;
}
.ROW12-flexbox-row-2 {
    min-height: 100px;
}
.ROW12-flexbox-row-3 {    
    min-height: 150px;
    flex-grow: 1;
}
//ROW12-0
.ROW12-0-flexbox-container {
    display: flex;    
    justify-content: space-between;
}
.ROW12-0-flexbox-row {
    margin: 10px;
}
.ROW12-0-flexbox-row-1 {
    // min-height: 200px;
}
.ROW12-0-flexbox-row-2 {
    // min-height: 200px;
}
.ROW12-0-flexbox-row-2 {
    margin-top: auto;
}
.cardrefresh {
    margin-bottom: 20px;
    margin-right: 40px;
}
//ROW12-1
.ROW12-1-flexbox-container {
    display: flex;   
    flex-direction: column;
}
.ROW12-1-flexbox-row {
    // width: 500px;
}
.ROW12-1-flexbox-row-1 {
    min-height: 50;
}
.ROW12-1-flexbox-row-2 {
    min-height: 100;
    margin-bottom: 15px;
}
.ROW12-1-flexbox-row-3 {
    min-height: 150;
}
.ROW12-2-flexbox-container {
    display: flex;
    justify-content: flex-start;
    width: auto;
}
.ROW12-2-flexbox-row {
    width: 350px;    
}
.ROW12-2-flexbox-row-1 {
    margin-right: $margin_right;
    flex: 1;
}
.ROW12-2-flexbox-row-1-1 {
    background-color: #ffffff;
    margin-right: $margin_right;
    flex: 1;
    border-radius: 0.25rem; //0.25rem 0.25rem 0.25rem 0.25rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.ROW12-2-flexbox-row-1-1-1 {
    font-size: 12px;
    margin-left: 7px;
    font-weight: bold;
}
.ROW12-2-flexbox-row-1-1-2 {
    margin-left: 7px;
}
.ROW12-2-flexbox-row-1-1-2-0 {    
    color: #3dd598;
    font-size: 18px;
    font-weight: bold;
}
.ROW12-2-flexbox-row-1-1-2-1 {
    color: #7e84a3;
    font-size: 15px;
}
.ROW12-2-flexbox-row-1-1-0 {
    font-size: 20px;
}
.ROW12-2-title-tooltip {
    margin-top: 10px;
    // margin-left: 10px;
    font-weight: bold;
    color: #7e84a3;
}
.ROW12-1-flexbox-row {
}
.ROW12-1-flexbox-row-1 {
    // min-height: 200px;
}
.ROW12-1-flexbox-row-2 {
    margin-top: auto;
}
//ROW12-3
.ROW12-3-flexbox-container {
    display: flex;    
    justify-content: flex-start; //will center the columns
}
.ROW12-3-flexbox-row {
    width: 40px;
}
.ROW12-3-flexbox-row-1 {
    min-height: 200px;
    margin-right: 10px;
}
.ROW12-3-flexbox-row-2 {
    min-height: 200px;
    margin-right: 10px;
}
.ROW12-3-flexbox-row-3 {
    min-height: 200px;
}
//ROW22
.ROW12-4-flexbox-container {
    display: flex;   
    flex-direction: column;
    justify-content: center; //makes horizontally center
    align-items: center; //makes vertically center
}
.ROW12-4-flexbox-row {
    width: 5px;
}
.ROW12-4-1-flexbox-row {
    text-align: center;
    width: 40px;
}
.ROW12-4-flexbox-row-1 {
    border: 0.1em solid #e6e9f4;
    background-color: #e6e9f4;
    height: 200px;
    margin-right: 5px;
}
.ROW12-4-flexbox-row-2 {
    margin-bottom: 1px;
}
.ROW12-4-flexbox-row-2-1 {
    border: 0.1em solid #2b2b2b;
    background-color: #2b2b2b;
    height: 200px;
    margin-right: 5px;
}
.ROW12-4-flexbox-row-2-2 {
    border: 0.1em solid #2b2b2b;
    background-color: #2b2b2b;
    height: 200px;
    margin-right: 5px;
}
.ROW12-4-1-flexbox-container {
    display: flex;    
    justify-content: flex-start; //will center the columns
}
//ROW12-5
.ROW12-5-flexbox-container {
    display: flex;   
    flex-direction: column;
    justify-content: flex-end; //makes horizontally center
    align-items: center; //makes vertically center
}
.ROW12-5-flexbox-row {
    margin-bottom: 4px;
    border: 3px solid #333;
}
.ROW12-5-flexbox-row-1 {
    min-height: 40px;
}
.ROW12-5-flexbox-row-2 {
    min-height: 60px;
}
.ROW12-5-flexbox-row-3 {
    min-height: 90px;
}
.ROW12-4-flexbox-row-1 {
    background-color: #e6e9f4;
    border: 1px solid #e6e9f4;
}
.ROW12-4-flexbox-row-2-1 {
    border-radius: 3px 3px 0 0 ;
    margin-top: 20px;
    height: 180px;
    border: 3px solid #29cb97;
}
.ROW12-4-flexbox-row-2-2 {
    border-radius: 3px 3px 0 0 ;
    border: 3px solid #0062ff;
}
.ROW12-5-flexbox-row-1 {
    border: 3px solid #d5d7e3;
}
.ROW12-5-flexbox-row-2 {
    border: 3px solid #57b8ff;
}
.ROW12-5-flexbox-row-3 {
    border: 3px solid #0062ff;
}
//ROW12-6
.ROW12-6-flexbox-container {
    display: flex;   
    flex-direction: column;
    justify-content: flex-start; //makes horizontally center
    align-items: flex-start; //makes vertically center
}
.ROW12-6-flexbox-row {
}
.ROW12-6-flexbox-row-1 {
}
.ROW12-6-flexbox-row-2 {
    margin-bottom: 20px;
}
.ROW12-6-flexbox-row-3 {
}
.ROW12-6-flexbox-row-4 {
}
//ROW12-6-1
.ROW12-6-1-flexbox-container {
    display: flex;   
}
.ROW12-6-1-flexbox-row {
    margin-right: 10px;
}
.ROW12-6-1-flexbox-row-1 {
}
.ROW12-6-1-flexbox-row-2 {
    margin-right: 40px;
}
//ROW12-7
.ROW12-7-flexbox-container {
    display: flex;
}
.ROW12-7-flexbox-row {
}
.ROW12-7-flexbox-row-1 {
    margin-right: 15px;
}
.ROW12-7-flexbox-row-2 {
}
.ROW12-7-flexbox-row-3 {
    margin-left: 120px;
}
//ROW13
.ROW13-flexbox-container {
    display: flex;
}
.ROW13-flexbox-row {
    width: 200px;
}
.ROW13-flexbox-row-1 {
    min-height: 50px;
    flex-grow: 2;
}
.ROW13-1-flexbox-container {
    display: flex;   
    flex-direction: column;
}
.ROW13-1-flexbox-row {
    // width: 500px;
}
.ROW13-1-flexbox-row-1 {
    min-height: 50;
}
.ROW13-1-flexbox-row-2 {
    min-height: 100;
}
//ROW13-2
.ROW13-2-flexbox-container {
    display: flex;
    margin-bottom: 50px;
}
.ROW13-2-flexbox-row {
    width: 300px;
}
.ROW13-2-flexbox-row-1 {
    flex-grow: 1;
}
.ROW13-2-flexbox-row-1 {
    flex-grow: 1;
}
thead, tbody, tfoot, tr, td, th {
    border-style: none;
}
.padding-left {
    padding-left: 50px;
}