<div class="ROW12-6-1-flexbox-container mt-1">
    <div class="ROW12-6-1-flexbox-row ROW12-6-1-flexbox-row-1">
        <svg class="icon1" style="fill: #21d59b; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"/></svg>
    </div>
    <div class="ROW12-6-1-flexbox-row ROW12-6-1-flexbox-row-2">
        <p class="text1" >Expense</p>
    </div>
    <span class="space-btwn"></span>
    <div class="ROW12-6-1-flexbox-row ROW12-6-1-flexbox-row-1 ">
        <svg class="icon1" style="fill: #0058ff;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"/></svg>
    </div>
    <div class="ROW12-6-1-flexbox-row ROW12-6-1-flexbox-row-2">
        <p class="text1" style="color: #7e84a3;">Income</p>
    </div>
    <span style="margin-right: auto;"></span>
    <app-download-button></app-download-button>
</div>
<div class="ROW12-6-1-flexbox-container ">
    <div id="barChart" ></div>
</div>

<!-- TOOLTIP STYLES GOES BELOW -->
<app-ui-in-el-tooltipbarchart></app-ui-in-el-tooltipbarchart>