.h5-bold {
    font-size: 1.25em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    // margin-bottom: 1em;
}

//grid1
.grid1 {
    display: grid;
    grid-template-columns: 6fr 5fr;
    gap: 1em;
}
.grid1 > div {
    // background: #eee;
    // padding: 1em;
}
.grid1 > div:nth-child(odd) {
    // background: #ddd;
}

//grid1-1
.grid1-1 {
    display: grid;
    // grid-template-columns: 70% 30%;
}

.grid1-1 > div {
    // background: #eee;
    // padding: 1em;
}

.grid1-1 > div:nth-child(odd) {
    // background: #ddd;
}

// .icon:hover {
//     fill: #DA4567;
//   }

svg path:hover{
    fill: green !important;
}

//grid1-2
.grid1-2 {
    display: grid;
    // grid-template-columns: 70% 30%;
    grid-auto-rows: minmax(40px, auto);
}

.grid1-2 > div {
    // background: #eee;
    // padding: 0em 0.5em 0em 1em;
    border-bottom: 1px solid #ddd;
}

.grid1-2 > div:nth-child(odd) {
    // background: #ddd;
}

//grid1-2-1
.grid1-2-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid1-2-1 > div {
    // background: #eee;
    // padding: 1em;
}
.grid1-2-1 > div:nth-child(odd) {
    // background: #ddd;
}

//grid1-2-2
.grid1-2-2 {
    display: grid;
    grid-template-columns: 1fr 4fr;//repeat(2, 1fr);
    grid-auto-rows: minmax(40px, auto);
}
.grid1-2-2 > div {
    // background: #eee;
    padding: 0.5em 0em 0.5em 0em;
}
.grid1-2-2 > div:nth-child(odd) {
    // background: #ddd;
}

//grid1-2-2-1
.grid1-2-2-1 {
    width: 45px; 
    height: 45px;
}

#world-map {
    background-color: #ddd;    
}