.h5-bold {
    font-size: 1.25em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    // margin-bottom: 1em;
}

//grid1
.grid1 {
    display: grid;
    grid-template-columns: 6fr 5fr;
    gap: 1em;
}
.grid1 > div {
    // background: #eee;
    // padding: 1em;
}
.grid1 > div:nth-child(odd) {
    // background: #ddd;
}

//grid1-1
.grid1-1 {
    display: grid;
    // grid-template-columns: 70% 30%;
}

.grid1-1 > div {
    // background: #eee;
    // padding: 1em;
}

.grid1-1 > div:nth-child(odd) {
    // background: #ddd;
}

// .icon:hover {
//     fill: #DA4567;
//   }

svg path:hover{
    fill: green !important;
}

//grid1-2
.grid1-2 {
    display: grid;
    // grid-template-columns: 70% 30%;
    grid-auto-rows: minmax(40px, auto);
}

.grid1-2 > div {
    // background: #eee;
    // padding: 0em 0.5em 0em 1em;
    border-bottom: 1px solid #ddd;
}

.grid1-2 > div:nth-child(odd) {
    // background: #ddd;
}

//grid1-2-1
.grid1-2-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid1-2-1 > div {
    // background: #eee;
    // padding: 1em;
}
.grid1-2-1 > div:nth-child(odd) {
    // background: #ddd;
}

//grid1-2-2
.grid1-2-2 {
    display: grid;
    grid-template-columns: 1fr 4fr;//repeat(2, 1fr);
    grid-auto-rows: minmax(40px, auto);
}
.grid1-2-2 > div {
    // background: #eee;
    padding: 0.5em 0em 0.5em 0em;
}
.grid1-2-2 > div:nth-child(odd) {
    // background: #ddd;
}

//grid1-2-2-1
.grid1-2-2-1 {
    width: 45px; 
    height: 45px;
}

// #world-map {
//     -webkit-text-size-adjust: 100%;
//     -webkit-tap-highlight-color: transparent;
//     --blue: #007bff;
//     --indigo: #6610f2;
//     --purple: #6f42c1;
//     --pink: #e83e8c;
//     --red: #dc3545;
//     --orange: #fd7e14;
//     --yellow: #ffc107;
//     --green: #28a745;
//     --teal: #20c997;
//     --cyan: #17a2b8;
//     --white: #fff;
//     --gray: #6c757d;
//     --gray-dark: #343a40;
//     --primary: #007bff;
//     --secondary: #6c757d;
//     --success: #28a745;
//     --info: #17a2b8;
//     --warning: #ffc107;
//     --danger: #dc3545;
//     --light: #f8f9fa;
//     --dark: #343a40;
//     --breakpoint-xs: 0;
//     --breakpoint-sm: 576px;
//     --breakpoint-md: 768px;
//     --breakpoint-lg: 992px;
//     --breakpoint-xl: 1200px;
//     --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
//     --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
//     font-size: 1rem;
//     line-height: 1.5;
//     font-family: Roboto,sans-serif;
//     word-wrap: break-word;
//     font-weight: 400;
//     cursor: default;
//     color: #fff;
//     text-align: center;
//     box-sizing: border-box;
//     width: 100%;
//     height: 400px;
// }