<div class="grid1">
    <div class="grid1-1">
        <div class="h5-bold">Sales By Country</div>
        <div id="world-map" style="width: 100%; height: 400px"></div>
    </div>
    <div class="grid1-2">
        <div class="grid1-2-1">
            <div>
                Country
            </div>
            <div>
                Percentage
            </div>
            <div>
                Orders
            </div>
        </div>
        <div class="grid1-2-1">
            <div class="grid1-2-2">
                <div class="grid1-2-2-1">
                    <img style="width: 40px;" src="https://res.cloudinary.com/dyg0bnoni/image/upload/v1643210944/github_iyeyu9.jpg" class="rounded-circle" alt="sample avatar image">
                </div>
                <div>
                    Country
                </div>
            </div>
            <div>
                Percentage
            </div>
            <div>
                Orders
            </div>
        </div>
        <div class="grid1-2-1">
            <div class="grid1-2-2">
                <div class="grid1-2-2-1">
                    <img style="width: 40px;" src="https://res.cloudinary.com/dyg0bnoni/image/upload/v1643210944/github_iyeyu9.jpg" class="rounded-circle" alt="sample avatar image">
                </div>
                <div>
                    Country
                </div>
            </div>
            <div>
                Percentage
            </div>
            <div>
                Orders
            </div>
        </div>
        <div class="grid1-2-1">
            <div class="grid1-2-2">
                <div class="grid1-2-2-1">
                    <img style="width: 40px;" src="https://res.cloudinary.com/dyg0bnoni/image/upload/v1643210944/github_iyeyu9.jpg" class="rounded-circle" alt="sample avatar image">
                </div>
                <div>
                    Country
                </div>
            </div>
            <div>
                Percentage
            </div>
            <div>
                Orders
            </div>
        </div>
        <div class="grid1-2-1">
            <div class="grid1-2-2">
                <div class="grid1-2-2-1">
                    <img style="width: 40px;" src="https://res.cloudinary.com/dyg0bnoni/image/upload/v1643210944/github_iyeyu9.jpg" class="rounded-circle" alt="sample avatar image">
                </div>
                <div>
                    Country
                </div>
            </div>
            <div>
                Percentage
            </div>
            <div>
                Orders
            </div>
        </div>
        <div class="grid1-2-1">
            <div class="grid1-2-2">
                <div class="grid1-2-2-1">
                    <img style="width: 40px;" src="https://res.cloudinary.com/dyg0bnoni/image/upload/v1643210944/github_iyeyu9.jpg" class="rounded-circle" alt="sample avatar image">
                </div>
                <div>
                    Country
                </div>
            </div>
            <div>
                Percentage
            </div>
            <div>
                Orders
            </div>
        </div>
        <div class="grid1-2-1">
            <div class="grid1-2-2">
                <div class="grid1-2-2-1">
                    <img style="width: 40px;" src="https://res.cloudinary.com/dyg0bnoni/image/upload/v1643210944/github_iyeyu9.jpg" class="rounded-circle" alt="sample avatar image">
                </div>
                <div>
                    Country
                </div>
            </div>
            <div>
                Percentage
            </div>
            <div>
                Orders
            </div>
        </div>
        <!-- <div class="grid1-2-2">
            <div style="width: 45px;">
                <img style="width: 40px;" src="https://res.cloudinary.com/dyg0bnoni/image/upload/v1643210944/github_iyeyu9.jpg" class="rounded-circle" alt="sample avatar image">
            </div>
            <div>
                Country
            </div>
            <div>
                Percentage
            </div>
            <div>
                Orders
            </div>
        </div>
        <div class="grid1-2-2">
            <div>
                <img style="width: 40px;" src="https://res.cloudinary.com/dyg0bnoni/image/upload/v1643210944/github_iyeyu9.jpg" class="rounded-circle" alt="sample avatar image">
            </div>
            <div>
                Country
            </div>
            <div>
                Percentage
            </div>
            <div>
                Orders
            </div>
        </div>
        <div class="grid1-2-2">
            <div>
                <img style="width: 40px;" src="https://res.cloudinary.com/dyg0bnoni/image/upload/v1643210944/github_iyeyu9.jpg" class="rounded-circle" alt="sample avatar image">
            </div>
            <div>
                Country
            </div>
            <div>
                Percentage
            </div>
            <div>
                Orders
            </div>
        </div>
        <div class="grid1-2-2">
            <div>
                <img style="width: 40px;" src="https://res.cloudinary.com/dyg0bnoni/image/upload/v1643210944/github_iyeyu9.jpg" class="rounded-circle" alt="sample avatar image">
            </div>
            <div>
                Country
            </div>
            <div>
                Percentage
            </div>
            <div>
                Orders
            </div>
        </div>
        <div class="grid1-2-2">
            <div>
                <img style="width: 40px;" src="https://res.cloudinary.com/dyg0bnoni/image/upload/v1643210944/github_iyeyu9.jpg" class="rounded-circle" alt="sample avatar image">
            </div>
            <div>
                Country
            </div>
            <div>
                Percentage
            </div>
            <div>
                Orders
            </div>
        </div>
        <div class="grid1-2-2">
            <div>
                <img style="width: 40px;" src="https://res.cloudinary.com/dyg0bnoni/image/upload/v1643210944/github_iyeyu9.jpg" class="rounded-circle" alt="sample avatar image">
            </div>
            <div>
                Country
            </div>
            <div>
                Percentage
            </div>
            <div>
                Orders
            </div>
        </div> -->
    </div>
</div>