$margin_right: 5px;
$colorbox_height: 120px;
$hex_font_size: 25px;
$rgb_font_size: 15px;


.ROW3-flexbox-row {
    text-align: center;
    font-size: 20px;
}
.ROW3-flexbox-row-1 {
    flex-grow: 1;
    flex-basis: 0;
}
.ROW3-1-flexbox-row {
    height: $colorbox_height;
    border-radius: 4px;
}
.ROW3-1-flexbox-row-1 {
}
.ROW3-2-flexbox-row-2 {
    text-align: left;
    font-size: $hex_font_size;
}
.ROW3-3-flexbox-row-3 {
    text-align: left;
    font-size: $rgb_font_size;
}
