<div class="ROW12-6-1-flexbox-container ">
    <div id="pieChart"></div>
</div>
<div class="ROW12-6-1-flexbox-container mt-1">
    <div class="ROW12-6-1-flexbox-row">
        <svg class="icon1" style="fill: #0058ff;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z"/></svg>
    </div>
    <div class="ROW12-6-1-flexbox-row ROW12-6-1-flexbox-row-2">
        <p class="text1" >Electronics</p>
    </div>
    <div class="ROW12-6-1-flexbox-row ROW12-6-1-flexbox-row-3">
        <p >50%</p>
    </div>
</div>
<div class="ROW12-6-1-flexbox-container mt-1">
    <div class="ROW12-6-1-flexbox-row">
        <svg class="icon1" style="fill: #21d59b;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z"/></svg>
    </div>
    <div class="ROW12-6-1-flexbox-row ROW12-6-1-flexbox-row-2">
        <p class="text1" >Furniture</p>
    </div>
    <div class="ROW12-6-1-flexbox-row ROW12-6-1-flexbox-row-3">
        <p >25%</p>
    </div>
</div>
<div class="ROW12-6-1-flexbox-container mt-1">
    <div class="ROW12-6-1-flexbox-row">
        <svg class="icon1" style="fill: #ffc700;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z"/></svg>
    </div>
    <div class="ROW12-6-1-flexbox-row ROW12-6-1-flexbox-row-2">
        <p class="text1" >Bags & Packages</p>
    </div>
    <div class="ROW12-6-1-flexbox-row ROW12-6-1-flexbox-row-3">
        <p >15%</p>
    </div>
</div>
<div class="ROW12-6-1-flexbox-container mt-1">
    <div class="ROW12-6-1-flexbox-row">
        <svg class="icon1" style="fill: #f99600;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z"/></svg>
    </div>
    <div class="ROW12-6-1-flexbox-row ROW12-6-1-flexbox-row-2">
        <p class="text1" >Accessories</p>
    </div>
    <div class="ROW12-6-1-flexbox-row ROW12-6-1-flexbox-row-3">
        <p >10%</p>
    </div>
</div>
<hr>
<div class="ROW12-6-1-flexbox-container mt-1">
    <div class="ROW9-flexbox-row-4-2 mb-2" ><app-texticon-link [item]="texticonlinkText"></app-texticon-link></div>
</div>

<!-- hidden div for tooltip -->
<!-- <div id="tooltip" class="hidden">
    <p><strong>Important Label Heading</strong></p>
    <p><span id="value">100</span>%</p>
</div> -->