<div id="tooltipLine" class="hidden">
    <div class="tt-flx-rw-1-1-1 title-tootooltipLineltip">
        {{month}}
    </div>
    <div class="tt-flx-container mt-1">
        <div class="tt-flx-rw-1-1-1">
            <svg style="width: 10px; fill: #0062ff; top: -0.15em; position: relative;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"/></svg>
        </div>
        <div class="tt-flx-rw-1-1-1">
            <p><span id="lineValue" class="mb-0">{{value}}</span></p>
        </div>
        <div class="tt-flx-rw-1-1-2">
            <p class="mb-0">{{line}}</p>
        </div>
    </div>
</div>