.Flag {
    width: 25px;
    border-radius: 50% !important;
}

.pl-1 {
    padding-left: 4%;
}
.pl-5 {
    padding-left: 20%;
}

.h5-bold {
    font-size: 1.25em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

//grid1
.grid1 {
    display: grid;
    grid-template-columns: 6fr .01fr 5fr;
}
.grid1 > div {
}
.grid1 > div:nth-child(odd) {
}

//grid1-1
.grid1-1 {
    display: grid;
}

.grid1-1 > div {
}

.grid1-1 > div:nth-child(odd) {
}

svg path:hover{
    fill: green !important;
}

//grid1-2
.grid1-2 {
    display: grid;
    grid-auto-rows: minmax(25px, auto);
}

.grid1-2 > div {
    border-bottom: 1px solid #ddd;
}

.grid1-2 > div:nth-child(odd) {
}

.vertical-line{
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 430px;
}

//grid1-2-1
.grid1-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}
.grid1-2-1 > div {   
}
.grid1-2-1 > div:nth-child(odd) {
}

.grid1-2-1-text {
    font-weight: 600;
    color: #000;
}

.grid1-2-title {
    color: #BBBFCF;
}

//grid1-2-2
.grid1-2-2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: minmax(25px, auto);
    justify-content: center;
    align-content: center;
}
.grid1-2-2 > div {
    
}
.grid1-2-2 > div:nth-child(odd) {
}

//grid1-2-2-1
.grid1-2-2-1 {
    width: 25px; 
    height: 25px;
}

#world-map {
    background-color: #b4ceff;    
}