<div class="grid1">
    <div class="grid1-1">
        <div class="h5-bold">Sales By Country</div>
        <div id="world-map" style="width: 100%; height: 400px"></div>
    </div>
    <div class="vertical-line"></div>
    <div class="grid1-2">
        <div class="grid1-2-1">
            <div class="grid1-2-title pl-1">
                Country
            </div>
            <div class="grid1-2-title">
                Percentage
            </div>
            <div class="grid1-2-title">
                Orders
            </div>
        </div>
        <div class="grid1-2-1">
            <div class="grid1-2-2">
                <div class="grid1-2-2-1 pl-5">
                    <img class="Flag" src="./../../../assets/img/flags/us.png" ></div>
                <div class="grid1-2-1-text">
                    United States
                </div>
            </div>
            <div class="grid1-2-1-text">
                45%
            </div>
            <div class="grid1-2-1-text">
                3442
            </div>
        </div>
        <div class="grid1-2-1">
            <div class="grid1-2-2">
                <div class="grid1-2-2-1 pl-5">
                    <img class="Flag" src="./../../../assets/img/flags/ca.png" >
                </div>
                <div class="grid1-2-1-text">
                    Canada
                </div>
            </div>
            <div class="grid1-2-1-text">
                20%
            </div>
            <div class="grid1-2-1-text">
                1530
            </div>
        </div>
        <div class="grid1-2-1">
            <div class="grid1-2-2">
                <div class="grid1-2-2-1 pl-5">
                    <img class="Flag" src="./../../../assets/img/flags/ru.png" >
                </div>
                <div class="grid1-2-1-text">
                    Russia
                </div>
            </div>
            <div class="grid1-2-1-text">
                15%
            </div>
            <div class="grid1-2-1-text">
                1147
            </div>
        </div>
        <div class="grid1-2-1">
            <div class="grid1-2-2">
                <div class="grid1-2-2-1 pl-5">
                    <img class="Flag" src="./../../../assets/img/flags/ch.png" >
                </div>
                <div class="grid1-2-1-text">
                    China
                </div>
            </div>
            <div class="grid1-2-1-text">
                10%
            </div>
            <div class="grid1-2-1-text">
                765
            </div>
        </div>
        <div class="grid1-2-1">
            <div class="grid1-2-2">
                <div class="grid1-2-2-1 pl-5">
                    <img class="Flag" src="./../../../assets/img/flags/au.png">
                </div>
                <div class="grid1-2-1-text">
                    Australia
                </div>
            </div>
            <div class="grid1-2-1-text">
                5%
            </div>
            <div class="grid1-2-1-text">
                382
            </div>
        </div>
        <div class="grid1-2-1">
            <div class="grid1-2-2">
                <div class="grid1-2-2-1 pl-5">
                    <img class="Flag" src="./../../../assets/img/flags/fr.png">
                </div>
                <div class="grid1-2-1-text">
                    France
                </div>
            </div>
            <div class="grid1-2-1-text">
                5%
            </div>
            <div class="grid1-2-1-text">
                382
            </div>
        </div>        
    </div>
</div>