//== using grid
//grid1
.grid1 {
    display: grid;
}

.grid1 > div {
}

.grid1 > div:nth-child(odd) {
}

//grid2
.grid2 {
    display: grid;
    grid-template-columns: 10% 60% 30%;
}
.grid2 > div {
    padding: 0.1em 0em 0.1em 0.1em;
}
.grid2 > div:nth-child(odd) {
}
.icon1-d {
    width: 10px;   
    top: -0.05em; 
    position: relative;
}