<div class="grid1">
    <div>
        <div id="donutChart"></div>
    </div>
    <div>
        <div class="grid2">
            <div>
                <svg class="icon1-d" style="fill: #0058ff;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z"/></svg>
            </div>
            <div>
                <p class="text1-d" >Electronics</p>
            </div>
            <div style="margin-left: auto;">
                <p >50%</p>
            </div>
        </div>
    </div>
    <div>
        <div class="grid2">
            <div>
                <svg class="icon1-d" style="fill: #21d59b;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z"/></svg>
            </div>
            <div>
                <p class="text1-d" >Furniture</p>
            </div>
            <div style="margin-left: auto;">
                <p >25%</p>
            </div>
        </div>
    </div>
    <div>
        <div class="grid2">
            <div>
                <svg class="icon1-d" style="fill: #ffc700;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z"/></svg>
            </div>
            <div>
                <p class="text1-d" >Bags & Packages</p>
            </div>
            <div style="margin-left: auto;">
                <p >15%</p>
            </div>
        </div>
    </div>
    <div style="">
        <div class="grid2">
            <div >
                <svg class="icon1-d" style="fill: #f99600;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z"/></svg>
            </div>
            <div>
                <p class="text1-d" >Accessories</p>
            </div>
            <div style="margin-left: auto;">
                <p >10%</p>
            </div>
        </div>
    </div>
</div>

<!-- TOOLTIP BELOW -->
<app-ui-el-tooltipdonutchart></app-ui-el-tooltipdonutchart>