<div class="grid2">
    <div class="grid1-0-1" >
        <p class="grid1-1 mb-0">7650</p>
        <p style="margin-bottom: 0px;">
            <span class="grid1-2-1" style="margin-right: 5px;">1.2%</span>
            <svg style="fill: red; width: 16px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z"/></svg>
            <span class="grid1-2-3" style="margin-left: 5px;">  than last year </span>
        </p>
    </div>
    <div class="grid1-0-1" >
        <app-ch-el-linegraph [width]="graphWidth" [height]="graphHeight" [data]="graphData" [color]="graphColor"></app-ch-el-linegraph>
    </div>    
</div>